# Python
__pycache__/
*.py[cod]

# virtual environments
.venv/
venv/
env/

# video files
test-videos/
*.mp4
*.avi
*.mov

# machine learning models
*.pth
*.pt
siamfc-pytorch/pretrained/

# operating system files
.DS_Store
Thumbs.db
